.board {
    background-color: brown;
    width: 100%;
    background: #B89569;
    background: -moz-radial-gradient(center, ellipse cover, #B89569 57%, #B89569 99%);
    background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(57%, #B89569), color-stop(99%, #B89569));
    background: -webkit-radial-gradient(center, ellipse cover, #B89569 57%, #B89569 99%);
    background: -o-radial-gradient(center, ellipse cover, #B89569 57%, #B89569 99%);
    background: -ms-radial-gradient(center, ellipse cover, #B89569 57%, #B89569 99%);
    background: radial-gradient(ellipse at center, #B89569 57%, #B89569 99%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#B89569', endColorstr='#B89569', GradientType=1); }

.board .note { height: 150px; width: 150px; background-color: #ff9; margin: 2px 0; position: absolute; cursor: -webkit-grab; -webkit-box-shadow: 5px 5px 15px 0 rgba(0, 0, 0, .2); box-shadow: 5px 5px 15px 0 rgba(0, 0, 0, .2); }
.board .note:active { cursor: -webkit-grabbing; }
.board .note p { font-size: 22px; padding: 5px; font-family: "Shadows Into Light", Arial; }
.board .note > span { position: absolute; bottom: 2px; right: 2px; transform: scale(0.9); opacity: 0.15; transition: all .15s ease-in-out; transform-origin: bottom right; }
.board .note:hover > span { opacity: 1; transform: scale(1); }
.board .note button { padding: 0.2rem 0.4rem; font-size: 0.9rem; margin: 2px;}
.board .note > textarea { height: 75%; background: rgba(255, 255, 255, .5); }
.board .note.dumyNote {opacity: 0;}

.glyphicon-plus { position: fixed; top: 10px; right: 10px; }

.flipTestBtn { border: 1px solid rgba(255,255,255,0.3); position: fixed; top: 15px; left: 15px; display: flex; justify-content: center; align-items: center; align-content: center; }
.flipTestBtn2 { border: 1px solid rgba(255,255,255,0.3); position: fixed; right: 15px; bottom: 15px; display: flex; justify-content: center; align-items: center; align-content: center; }

.flipForm { display: none; transform: translate(-50%,-50%); left: 50%; top: 50%; }
.flipForm.flipActive { display: block; }
.flipTestBtn.flipActive { visibility: hidden; }
.flipTestBtn2.flipActive { visibility: hidden; }
.flipTestBtn, .flipTestBtn2, .flipTestBtn.flipping { visibility: visible; }