.board {
    background-color: brown;
    width: 100%;
    background: #eab92d;
    background: -moz-radial-gradient(center, ellipse cover, #eab92d 57%, #c79810 99%);
    background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(57%, #eab92d), color-stop(99%, #c79810));
    background: -webkit-radial-gradient(center, ellipse cover, #eab92d 57%, #c79810 99%);
    background: -o-radial-gradient(center, ellipse cover, #eab92d 57%, #c79810 99%);
    background: -ms-radial-gradient(center, ellipse cover, #eab92d 57%, #c79810 99%);
    background: radial-gradient(ellipse at center, #eab92d 57%, #c79810 99%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#eab92d', endColorstr='#c79810', GradientType=1);

}

.board .note {
    height: 150px;
    width: 150px;
    background-color: yellow;
    margin: 2px 0;
    position: absolute;
    cursor: -webkit-grab;
    -webkit-box-shadow: 5px 5px 15px 0 rgba(0, 0, 0, .2);
    box-shadow: 5px 5px 15px 0 rgba(0, 0, 0, .2);
}

.board .note:active {
    cursor: -webkit-grabbing;
}

.board .note p {
    font-size: 22px;
    padding: 5px;
    font-family: "Shadows Into Light", Arial;
}

.board .note:hover > span {
    opacity: 1;
}

.board .note > span {
    position: absolute;
    bottom: 2px;
    right: 2px;
    opacity: 0;
    transition: opacity .25s linear;
}

.board .note button {
    margin: 2px;
}

.board .note > textarea {
    height: 75%;
    background: rgba(255, 255, 255, .5);
}

.board .note.dumyNote {opacity: 0;}

.glyphicon-plus {
    position: fixed;
    top: 10px;
    right: 10px;
}

/* .flipTestBtn {width: 200px; height: 200px; background-color: #282c34; position: absolute; top: 10%; left: 10%;}
.flipForm {width: 400px; height: 400px; background-color: #265bc4; position: absolute; top: 40%; left: 40%;} */
.flipTestBtn {
  border: 1px solid rgba(255,255,255,0.3);
  position: fixed;
  top: 15px;
  left: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
}
.flipTestBtn2 {
  border: 1px solid rgba(255,255,255,0.3);
  position: fixed;
  right: 15px;
  bottom: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
}

.flipForm {
  display: none;
  transform: translate(-50%,-50%); left: 50%; top: 50%;
}
.flipForm.flipActive {
  display: block;
}
.flipTestBtn.flipActive {
  visibility: hidden;
}
.flipTestBtn2.flipActive {
  visibility: hidden;
}
.flipTestBtn, .flipTestBtn2, .flipTestBtn.flipping {
  visibility: visible;
}