.introWrap .container .logo_main {max-width: 80%; width: 550px;}
.introWrap .container .logo_outline {max-width: 85%; width: 600px;}
.introWrap .container .logo_background {max-width: 85%; width: 600px;}