.transition-group {z-index: 102;}
.Ntransition {z-index: 101;}

.transitionBox {position: absolute; left: 50%; transform: translateX(-50%); z-index: 99;}
.transitionBox.fade-exit {z-index: 98;}
.transitionBox.fade-enter {z-index: 99;}

.transitionBox.introWrap {background: #E9E6DF; transition: background 0.5s ease-in-out;}
.transitionBox.introWrap.fade-exit {z-index: 101;background: #e9e6df00;}
.transitionBox.introWrap.fade-enter {z-index: 101; background: #E9E6DF;}

.transitionBox.aboutWrap.fade-exit {z-index: 98;}
.transitionBox.aboutWrap.fade-enter {z-index: 99;}

.transitionBox.gridWrap.fade-exit {z-index: 100;}
.transitionBox.gridWrap.fade-enter {z-index: 98;}
