.logoBox {width: 100%; height: 100%; display: block; position: relative;}
.logoBox .logo_main {top: 50%; left: 50%; transform: translate(-50%, -50%); position: absolute; z-index: 3;}
.logoBox .logo_outline {top: 50%; left: 50%; transform: translate(-50%, -50%); position: absolute; z-index: 2;}
.logoBox .logo_background {top: 50%; left: 50%; transform: translate(-52%, -55%) rotate(180deg); position: absolute; z-index: 1;}
